* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;

    background-color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "landing-page"
            "main"
            "footer";
    gap: 80px;
}

#landing-page {
    grid-area: landing-page;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "navbar"
            "header"
            "logos";
    padding-top: 16px;
    gap:70px;
}

#navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

#navbar a:first-child {
    margin-right: auto;
}

#navbar a {
    text-decoration: none;
    color: #000;
}

#request-quote {
    border: 1px solid #000;
    border-radius: 14px;
    padding: 20px 35px;
}

header {
    width: 100%;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "left right";
    gap: 35px;
}

#landing-text {
    grid-area: left;
    display: flex;
    flex-direction: column;
    max-width: 531px;
    max-height: 481px;
    row-gap: 35px;
}

#landing-text button {
    border: 1px solid #191A23;
    background-color: #191A23;
    color: white;
    font-size: 1rem;
    border-radius: 14px;
    padding: 20px 35px;
    width: calc(264/(100vw) * 100%);
    max-width: 264px;
    max-height: 68px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 28px;
}

header img {
    grid-area: right;
    max-width: 600px;
    max-height: 515px;
}

#companies-logos {
    grid-area: logos;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    gap: 20px;
    filter: grayscale(100%);
}

#companies-logos img {
    max-width: 124.11px;
    max-height: 48px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "services"
            "cta"
            "working-process"
            "contact-form";
    gap: 80px;
}

#services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "services-text"
            "services-list";
}

#services-text {
    grid-area: services-text;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#services-text h2 {
    font-size: 2rem;
    font-weight: 500;

    max-width: 178px;
    max-height: 51px;
    padding-left: 7px;
    padding-right: 7px;

    border: 1px #B9FF66;
    background-color: #B9FF66;
    border-radius: 7px;
}

#services-text p {
    max-width: 580px;
    max-height: 48px;
    font-size: 0.9rem;
    line-height: 1.5;
}

#services-list {
    grid-area: services-list;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#services-list li {
    width: 48%;
    max-width: 600px;
    /*height: calc(310/(100vw) * 100%);*/
    height: 310px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    gap: 94px;

    border: 1px solid #191A23;
    box-shadow: 0 5px 0 0 #191A23;
    border-radius: 45px;
    padding: 50px;
}

#services-list ul {
    display: contents;
}

#services-list li .service-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services-list li .service-text a {
    max-width: 164px;
    max-height: 41px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 10px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    color: black;
}

#services-list li .service-text a img {
    max-width: 41px;
    max-height: 41px;
}

#services-list li .service-text h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    max-width: 195px;
}

#services-list li img {
    grid-area: image;
    max-width: 210px;
    max-height: 170px;
}

#services-list li:nth-child(1) {
    background-color: #F3F3F3;
}

#services-list li:nth-child(1) .service-text h3{
    border: 1px #B9FF66;
    border-radius: 7px;
    background-color: #B9FF66;
    padding: 0 7px;
}

#services-list li:nth-child(2) {
    background-color: #B9FF66;
}

#services-list li:nth-child(2) .service-text h3{
    border: 1px #FFFFFF;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0 7px;
}

#services-list li:nth-child(3) {
    background-color: #191A23;
}

#services-list li:nth-child(3) .service-text h3{
    color: black;
    border: 1px #FFFFFF;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0 7px;
}

#services-list li:nth-child(3) .service-text a{
    color: #FFFFFF;
}

#services-list li:nth-child(4) {
    background-color: #F3F3F3;
}

#services-list li:nth-child(4) .service-text h3{
    border: 1px #B9FF66;
    border-radius: 7px;
    background-color: #B9FF66;
    padding: 0 7px;
}

#services-list li:nth-child(5) {
    background-color: #B9FF66;
}

#services-list li:nth-child(5) .service-text h3{
    color: black;
    border: 1px #FFFFFF;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0 7px;
}

#services-list li:nth-child(6) {
    background-color: #191A23;
}

#services-list li:nth-child(6) .service-text h3{
    border: 1px #B9FF66;
    border-radius: 7px;
    background-color: #B9FF66;
    padding: 0 7px;
}

#services-list li:nth-child(6) .service-text a{
    color: #FFFFFF;
}

#cta-block {
    grid-area: cta;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(50px,19vw,275px);

    padding: 0 60px;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
    border-radius: 45px;
}

#cta-block img {
    max-width: 494px;
    max-height: 394px;
    margin-top: calc((347px - 394px)/2);
    margin-bottom: calc((347px - 394px)/2);
}

#cta-text {
    max-width: 500px;
    max-height: 227px;

    display: flex;
    flex-direction: column;
    gap: 26px;
}

#cta-text h3 {
    margin: 0;
    max-width: 500px;
    max-height: 38px;
    font-weight: 500;
    font-size: 1.5rem;
}

#cta-text p {
    max-width: 500px;
    max-height: 69px;
    font-weight: 400;
    font-size: 0.9rem;
}

#cta-text button {
    max-width: 288px;
    max-height: 68px;

    color: #FFFFFF;
    background-color: #191A23;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}

#working-process {
    grid-area: working-process;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "process-heading"
            "process-list";
    gap: 30px;
}

#process-heading {
    grid-area: process-heading;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#process-heading h2 {
    font-size: 2rem;
    font-weight: 500;

    max-width: 398px;
    max-height: 51px;
    padding-left: 7px;
    padding-right: 7px;

    border: 1px #B9FF66;
    background-color: #B9FF66;
    border-radius: 7px;
}

#process-heading p {
    max-width: 292px;
    max-height: 48px;
    font-size: 0.9rem;
    line-height: 1.5;
}

#process-list {
    grid-area: process-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#process-list details {
    font-weight: 500;
    font-size: 1.5rem;
    width: clamp(200px,85vw,1234px);
    height: 159px;

    background-color: #F3F3F3;
    border: 1px solid #191A23;
    border-radius: 45px;
    padding: 41px 60px;

    gap: 30px;
    box-shadow: 0 5px 0 0 #191A23;

    cursor: pointer;
    transition: 0.1s ease;

    .expand-icon {
        display: block;
    }
    .shrink-icon {
        display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#process-list details summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

details summary .process-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

details summary .process-text .process-index {
    font-size: 3rem;
    font-weight: 500;
    max-width: 65px;
    max-height: 77px;
}

details summary img {
    max-width: 58px;
    max-height: 58px;
}

details .content {
    border-top: 1px solid #191A23;
}

#process-list details[open] {
    background-color: #B9FF66;
    height: 279px;
    .expand-icon {
        display: none;
    }
    .shrink-icon {
        display: block;
    }
}

details > p {
    font-weight: 500;
    font-size: 1.5rem;

    background-color: #B9FF66;

    gap: 30px;
    box-shadow: 0 5px 0 0 #191A23;
}

#contact-form {
    grid-area: contact-form;

    width: 100%;
    max-height: 856px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "form-heading"
            "form";
    gap: 10px;
}

#contact-title {
    grid-area: form-heading;

    width: 100%;
    max-height: 51px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 40px;
}

#contact-title h2 {
    max-width: 229px;
    max-height: 51px;

    font-weight: 500;
    font-size: 2rem;

    padding-left: 7px;
    padding-right: 7px;

    border: 1px #B9FF66;
    background-color: #B9FF66;
    border-radius: 7px;
}

#contact-title p {
    max-width: 323px;
    max-height: 46px;

    font-size: 0.9rem;
    font-weight: 400;

    line-height: 1.5;
}

#form-container {
    width: 100%;
    max-height: 773px;

    grid-area: form;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 60px 0 80px 100px;
    border: 1px solid #F3F3F3;
    border-radius: 45px;
    background-color: #F3F3F3;
}

#form-container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
                "radio"
                "name"
                "email"
                "message"
                "submit";
    gap: 30px;
}

label {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 28px;
}

#radio {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#radio .radio-label {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#radio .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #191A23;
    background-color: #FFFFFF;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button::after {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #B9FF66;
}

#radio input:checked ~ .radio-button::after {
    display: block;
}

#name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#email {
    grid-area: email;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#name input,
#email input {
    max-width: 556px;
    max-height: 59px;

    border: 1px solid #FFFFFF;
    border-radius: 14px;
    padding: 18px 30px;
}

#message {
    grid-area: message;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#message textarea {
    width: clamp(50px,38vw,556px);
    height: 190px;

    border: 1px solid #FFFFFF;
    border-radius: 14px;
    padding: 18px 30px;

    text-align: left;
    vertical-align: top;
}

#submit-contact {
    grid-area: submit;
}

#img-container {
    max-width: calc(691px/2);
    max-height: 648px;
    overflow: hidden;
}

#img-container img {
    max-width: 691px;
    max-height: 648px;
}

#form-container form button {
    max-width: 556px;
    max-height: 68px;

    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;

    background-color: #191A23;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
                "nav"
                "footer-content"
                "small";
    gap: 30px;

    background-color: #191A23;
    border: 1px solid #191A23;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    padding: 55px 60px 50px;
}

#nav-footer {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;

    list-style: none;
}

#nav-footer ul li a {
    font-size: 0.9rem;
    font-weight: 400;

    color: #FFFFFF;
}

#footer-content {
    grid-area: footer-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 154px;
}

#footer-content address h4 {
    max-width: 126px;
    max-height: 26px;

    font-size: 1rem;
    font-weight: 500;
    color: #000000;

    background-color: #B9FF66;
    padding: 0 7px;
    border-radius: 7px;
}

#footer-content address p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFFFFF;
}

#footer-content form {
    width: clamp(50px,44vw,634px);
    height: 184px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding: 40px 58px;
    border: 1px solid #191A23;
    background-color: #292A32;
    border-radius: 14px;
}

#footer-content form input {
    width: clamp(50px,20vw,285px);
    height: 67px;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    background-color: #292A32;
    border-radius: 14px;
    padding: 12px 35px;
}

#footer-content form button {
    width: clamp(50px,17vw,249px);
    height: 64px;

    color: black;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 14px;
    padding: 20px 35px;
}

small {
    grid-area: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
}

small a {
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding: 0 20px;
    }

    #landing-text {
        align-items: center;
        justify-self: center;
    }

    header {
        grid-template-columns: 1fr;
        grid-template-areas:
                "right"
                "left";
        align-items: center;
        justify-content: center;
    }

    header img {
        display: none;
    }

    header img {
        max-width: 100%;
        justify-self: center;
    }

    #services-text {
        justify-self: center;
    }

    #services-list {
        justify-content: center;
    }

    #services-list li {
        width: 100%;
        align-self: center;
    }

    #cta-block {
        flex-direction: row;
        padding: 40px;
        gap: 40px;
    }

    #process-heading {
        justify-self: center;
    }

    #contact-title {
        justify-self: center;
    }

    #contact-form {
        grid-template-areas:
                    "";
    }
}

















































